.modalMain {
  width: 100%;
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.labelDiv {
  display: flex;
  gap: 12px;
  align-items: center;
}

.title{
    color: var(--slate-gray);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0px;
}

.footerDiv{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 18px;
}

.footerClass{
    padding: 12px 36px;
}

.errorText {
    color: var(--error);
    font-size: 12px;
    margin-top: 4px;
}