.forgotPasswordForm {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 8px;
}

.sendButton {
  width: 100% !important;
}

