.wrapperContainer {
  background-color: var(--white);
  padding-bottom: 20px;
}

.wrapper {
  border-radius: 16px;
  border: 1px solid var(--light-gray);
  overflow: hidden !important;
}
.header {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
}

.headerTop {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header h4 {
  color: var(--charcoal-night);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.searchInput {
  height: 43px !important;
  background-color: var(--ghost-white) !important;
  width: 300px !important;
}

.headerComponent {
  width: 100%;
  /* border-top: 1px solid var(--light-gray); */
}

.content {
  padding: 0px 16px;
}
