.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelText {
  color: var(--slate-shadow);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.noBorder {
  border: none;
}

.inputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 12px;
}

.inputClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
  width: 100%;
  height: 48px;
  border-radius: inherit;
  border: 1px solid var(--border-color);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
  color: var(--steel-mist) !important;
}

.inputClassName:disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: rgba(220, 220, 220, 0.348);
}

.inputClassName::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400 !important; ;
}

.inputContainer .passwordIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  color: var(--steel-mist);
  cursor: pointer;
}

.error {
  font-size: 14px;
  font-weight: 400;
  color: var(--error);
}

.leftIconBox,
.rightIconBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
}

.leftIconBox {
  left: 10px;
}

.rightIconBox {
  right: 15px;
}

.inputClassName ::-webkit-outer-spin-button,
.inputClassName ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputClassName:focus {
  outline: none;
}
/*  Firefox  */
.inputClassName[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 991px) {
  .labelText {
    font-size: 14px;
  }
  .inputContainer input {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .labelText {
    font-size: 12px;
  }

  .inputContainer input {
    font-size: 11px;
  }

  .inputClassName {
    padding: 12px 8px;
  }
}
