.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--label);
  font-family: var(--font-inter) !important;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.container textarea {
  font-size: 14px;
  resize: none;
  font-weight: 500;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  background-color: var(--white);
  outline: none;
  border: 1px solid var(--silver-gray);
  border-radius: 12px;
  height: 100px;
  padding: 12px;
}

.container textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .container textarea:focus {
  border: 1px solid var(--midnight-black);
} */

.error {
  color: var(--error);
  font-size: 14px;
  font-weight: 400;
}
