.card {
  display: flex;
  /* height: 64px; */
  padding: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--light-gray, #EAEAEA);
  background: var(--white, #FFF);
}

.isDetailedVariantCard{
  align-items: flex-start;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.isDetailedVariantContent{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.options {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.imageContainer {
  flex-shrink: 0;
}

.image {
  width: 58px;
  height: 52.241px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  flex: 1;
}

.isDetailedVariantDetails{
  gap: 8px;
}

.title {
  color: var(--charcoal-gray, #262626);
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.dateTime {
  color: var(--graphite, #808080);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.visibility {
  display: flex;
  align-items: center;
  gap: 4px;
}

.eyeIcon {
  color: var(--lighter-gray, #656565);
  font-size: 14px;
}

.visibilityText {
    color: var(--lighter-gray, #656565);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoIcon {
  font-size: 16px;
  color: var(--light-purple);
  flex-shrink: 0;
}

.infoLabel {
  font-size: 12px;
  color: var(--storm-grey);
  font-weight: 500;
}

.infoLabel strong {
  font-weight: 500;
  color: var(--charcoal-night);
}

.statusVariantUnderlined{
  text-transform: capitalize;
}