
.breadcrumbs{
    display: flex;
    align-items: center;
    gap:10px;
}

.activeCrumb{
    color: var(--deep-cerulean);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.396px;
}

.crumb{
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.396px;
color: var(--storm-gray);
}

.slash{
    color: var(--storm-gray);
    font-size: 18px;
    font-weight: 500;
}