
.staffLayout{
    height: 100vh;
    background-color: var(--light-gray-2);
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.rightSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: auto;
    background-color: var(--white);
}

.rightSideHeader{
    padding: 24px;
    border-bottom: 2px solid var(--border-color-2);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.mainIcon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    padding: 8px;
    border-radius: 5.333px;
    border: 1px solid #ebebeb;
    background: linear-gradient(180deg, #c0e6fd 0%, #94d8fc 100%);
    box-shadow: 0 1.333px 2.667px 0 #62c1f8 inset,
      0 0.333px 1.333px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightSideContent{
    flex: 1;
    overflow: auto;
    /* padding: 24px; */
}

