.tableWrapper {
  width: 100%;
  overflow-x: auto; /* scrolls if content wider */
  border-radius: 10px;
  background-color: var(--Poor-white);
  overflow-y: auto; /* allows vertical scrolling */
  /* max-height: 500px; */
  background-color: #fcfcfd;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* ensure min scrollable width */
}

.tableHeader th {
  border-top: 1.5px solid var(--primary-200, #D3D3E2);
  border-right: 1.5px solid var(--primary-200, #D3D3E2);
  border-bottom: 1.5px solid var(--primary-200, #D3D3E2);
  background: var(--primary-50, rgba(240, 240, 245, 0.50));
  color: var(--charcoal-gray);
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  min-width: 180px; /* ensures responsiveness */
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 2;
  
}

.tableBody td {
  border-bottom: 1.5px solid var(--grey-100, #F1F1F1);
  border-left: 1.5px solid var(--grey-100, #F1F1F1);
  color: var(--charcoal-gray);
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  min-width: 180px; /* keep scroll working */
  white-space: nowrap; /* prevents breaking */
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fcfcfd;
  

}




.tableBody tr:hover td {
  background: #eef3fb;
}

.imageContainer {
  position: relative;
  height: 44px !important;
  max-width: 44px;
  min-width: 44px;
  border-radius: 50%;
  background-color: var(--border-color);
}

.imageContainer img {
  object-fit: cover;
  border-radius: 50%;
}

.actionContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.paginationWrapper {
  border-top: 1.5px solid var(--primary-200, #D3D3E2);
  background-color: #fcfcfd;
}