
.loginForm{
    width: 100% !important;
    display: flex;
    flex-direction: column;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.forgotPassword{
    color: var(--electric-azure);
font-size: 14px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0.28px;
cursor: pointer;
}
.forgotPasswordContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.loginButton{
    width: 100% !important;
}