.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1.5px solid var(--light-gray);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--white);
  padding: 30px 30px;
  height: 160px;
}

.iconWrapper{
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  object-fit: contain;
}

.text {
  color: var(--charcoal-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}

