.contentClassName {
    padding: 0px !important;
}

.gridFilter {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 10px;
}

.documentCard {
    padding: 16px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    background: var(--white);
}

.documentCard h5 {
    margin-bottom: 12px;
    color: var(--charcoal-night);
    font-size: 16px;
    font-weight: 500;
}

.documentCard p {
    margin-bottom: 8px;
    color: var(--charcoal-gray);
    font-size: 14px;
}

.documentCard p strong {
    color: var(--charcoal-night);
}

.docCardRow{
    padding: 16px;
}