
.footerDiv{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 18px;
}


.iconInputContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 300px !important;
  }
  
  .inputClassName{
      height: 40px !important;
      border-radius: 13px !important;
      border: 1px solid var(--border-color) !important;
  }
  
  .dropdown {
    width: 300px !important;
    border-radius: 13px !important;
    min-height: 40px !important;
    border: 1px solid var(--border-color) !important;
    position: relative !important;
  }
  
  .errorText {
    color: var(--red);
    font-size: 12px;
    margin-top: 4px;
  }

  