
.gapTop{
    margin-bottom: 6px !important;
}
.notesWrapper{

    border-radius: 12px;
    border: 1px solid var(--light-gray);
    background: var(--ghost-white);
    width: 100% !important;
    padding: 16px;
}
.addNoteButton{
    height: 37px;
}
.inputClass{
    height: 40px !important;
    width: 250px !important;
}
.notesHeaderRight{
    display: flex;
    align-items: center;
    gap: 8px;
}

.notesHeader h4{
    color: var(--charcoal-gray);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px !important;
}

.notesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.notesContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notesContainer p{

    color: var(--charcoal-gray);
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
margin-bottom: 0px !important;
}

.notesFooter{
    display: flex;
    align-items: center;
    gap: 9px;
}
.notesFooter h6,.notesFooter p{
    color: var(--graphite);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0px !important;
}

.notesFooter p{
    margin-bottom: 0px !important;
}