.wrapper {
  position: relative;
  cursor: pointer;
}

.card {
  background: var(--ghost-white);
  border-radius: 0px 12px 12px 12px;
  overflow: visible;
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);
  border: 1px solid var(--snowfall);
  position: relative;
}

.isStatusVariantClass {
  border-radius: 12px;
}

.activeTab {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  padding: 5px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px 16px 0 0;
  border-top: 1px solid var(--snowfall);
  border-right: 1px solid var(--snowfall);
  border-left: 1px solid var(--snowfall);
  background: var(--white);
  color: var(--sea-green);
  font-size: 12px;
  font-weight: 500;
  width: max-content;
  z-index: 1;
}

.cardContent {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userRowAssigned {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.assignedHeading {
  color: var(--storm-grey, #87878e);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.keyValueDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.keyLabel {
  color: var(--storm-grey, #87878e);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.staffName {
  color: var(--charcoal-night, #414149);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.staffInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.statusVariantLabel {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center ;
  gap: 10px;
  border-radius: 999px;
  border: 1.5px solid var(--progress-bg);
  background: var(--white);
}

.statusVariantLabel p{
  color: var(--sea-green);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0px;
}

.statusVariantUnderlined{
  text-decoration: underline;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userIcon {
  font-size: 26px;
  color: var(--light-purple);
}

.userName {
  font-size: 16px;
  font-weight: 500;
  color: var(--charcoal-night);
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
}

.statusIcon {
  font-size: 18px;
  color: var(--light-purple);
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.infoRowDetailed{
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.infoIcon {
  font-size: 18px;
  color: var(--light-purple);
  flex-shrink: 0;
}

.infoLabel {
  font-size: 16px;
  color: var(--storm-grey);
  font-weight: 500;
}

.infoLabel strong {
  font-weight: 500;
  color: var(--charcoal-night);
}

.infoLabelDetail{
  font-size: 14px;
}

.referenceLink {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: var(--moonstone-gray);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
  font-weight: 700;
}

.referenceLink:hover {
  color: var(--light-purple);
}

.externalIcon {
  font-size: 14px;
  color: var(--light-purple);
}

.editDivider{
  border-top: 1px solid var(--divider);
  display: flex;
  justify-content: right;
  padding-top: 12px;
}

.editIcon{
  color: var(--grey-icon);
}

.detailsDiv{
  display: flex;
  flex-direction: column;
  gap: 3px;
}