.contentClassName {
    padding: 0px !important;
}

.viewDetailsLink {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    transition: color 0.2s ease;
}

.viewDetailsLink:hover {
    color: var(--sky-glow);
}

.tabBtnContainer{
display: flex;
height: 64px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-bottom: 1px solid var(--ghost-white, #F0F0F5);

}

.viewAllBtn{
    height: 40px !important;
    width: fit-content !important;
    white-space: nowrap;
}



