

.gridFilterContent{
    display: flex;
    align-items: center;
    gap: 10px;
}

.gridFilterContent{
    height: 41px;
padding: 12px;
justify-content: center;
border-radius: 5px;
border: 1px solid #EEE;
background: var(--white);
display: flex;
color: var(--charcoal-night);
font-size: 14px;
font-weight: 500;
cursor: pointer;
}

.icon{
    font-size: 18px;
}

.active{
    border-radius: 5px;
border: 1px solid var(--white);
background: var(--slate-gray);
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
color: var(--white);
}