.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--white);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--light-gray);
  padding: 4px 0px;
}

.headerContent {
  height: 76px;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 30px;
  height: 60px;
}

.nav {
  display: none;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: var(--charcoal-night);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.navLink:hover {
  color: var(--deep-cerulean);
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  color: var(--deep-cerulean);
  font-weight: 500;
}

.mobileMenuButton {
  display: block;
  color: var(--black-1);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.mobileMenuButton:hover,
.mobileMenuButton:focus {
  color: var(--purple);
  outline: none;
}

.inputClass {
  height: 43px !important;
  background-color: var(--ghost-white) !important;
  width: 300px !important;
}
.message {
  padding: 4px 16px;
  border-radius: 4px;
  background: var(--deep-cerulean);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}
.messageIcon {
  position: relative;
  width: 30px;
  height: 30px;
}
.messageIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.message h4 {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.mobileMenuButton {
  display: flex;
  align-items: center;
}

.icon {
  padding: 8px;
  border-radius: 5.333px;
  border: 1px solid #ebebeb;
  background: linear-gradient(180deg, #c0e6fd 0%, #94d8fc 100%);
  box-shadow: 0 1.333px 2.667px 0 #62c1f8 inset,
    0 0.333px 1.333px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mainIcon {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media (min-width: 768px) {
  .mobileMenuButton {
    display: none;
  }
}
